<!DOCTYPE html>

<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Eve Muindi Tech</title>
<link rel="stylesheet" href="static/style.css?v=2">
</head>

<body>

<a href="https://wa.me/254703206258" class="whatsapp-btn" target="_blank">
Chat with me
</a>

<nav>
<h2 class="logo">Eve Muindi</h2>

<ul>
<li><a href="#">Home</a></li>
<li><a href="#services">Services</a></li>
<li><a href="#portfolio">Portfolio</a></li>
<li><a href="#about">About</a></li>
<li><a href="#contact">Contact</a></li>
</ul>
</nav>

<header class="hero">

<h1>Eve Muindi Tech</h1>

<p>Providing modern IT solutions, web development and tech support for businesses.</p>

<a href="#contact" class="btn">Hire Me</a>

</header>

<section class="services" id="services">

<h2>My Services</h2>

<div class="service-container">

<div class="card">
<h3>Web Development</h3>
<p>Modern responsive websites for businesses and brands.</p>
</div>

<div class="card">
<h3>IT Support</h3>
<p>Technical troubleshooting, systems setup and maintenance.</p>
</div>

<div class="card">
<h3>System Administration</h3>
<p>Managing servers, networks and business IT infrastructure.</p>
</div>

</div>

</section>

<section class="portfolio" id="portfolio">

<h2>Portfolio</h2>
<p class="portfolio-intro">Some projects and solutions I’ve worked on.</p>

<div class="portfolio-container">

<div class="project-card">
<img src="./static/project1.jpg" alt="Business Website">
<h3>Business Website</h3>
<p>Designed and developed a responsive website for a small business.</p>
<a href="#" class="btn">View Project</a>
</div>

<div class="project-card">
<img src="./static/project2.jpg" alt="IT Infrastructure Setup">
<h3>IT Infrastructure Setup</h3>
<p>Configured office networks, systems, and secure user access.</p>
<a href="#" class="btn">View Project</a>
</div>

<div class="project-card">
<img src="./static/project3.jpg" alt="Social Media Tech Support">
<h3>Social Media Tech Support</h3>
<p>Managed content tools and automation for online brand growth.</p>
<a href="#" class="btn">View Project</a>
</div>

</div>

</section>

<section class="projects">

<h2>My Projects</h2>

<img src="static/project1.jpg">
<img src="static/project2.jpg">
<img src="static/project3.jpg">
</section>

<section class="about" id="about">

<h2>About Eve Muindi</h2>

<p>
Eve Muindi is an IT specialist passionate about helping businesses grow through modern technology.
With experience in web development, system administration, and technical support, I provide reliable
solutions that help businesses operate efficiently.
</p>

</section>

<section class="contact" id="contact">

<h2>Contact Me</h2>

<p>Email: hello.lynenexus@gmail.com</p>
<p>Phone: 0703 206 258</p>

<a href="mailto:hello.lynenexus@gmail.com" class="btn">Send Message</a>
</section>
<!-- update -->
</body>
</html>
